html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
}

a:hover {
  text-decoration: none;
}

#pageContainer {
  width: 100%;
  height: 100%;
}

#headerContainer {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: blue;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerContainer .loginIcon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
}

#sideNavContainer {
    width: 240px;
    background-color: #f5f5f5;
    padding-top: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#mainSectionContainer {
    padding-top: 90px;
    background-color: red;
}

#mainSectionContainer.leftPadding {
    padding-left: 240px;
}

#mainBannerContainer {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  background-image: url(../images/familyCropped.jpg);
  background-size: cover;
}

#mainContentContainer {
    padding: 10px 30px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: rgb(148, 161, 161);
}

.column {
    flex-grow: 1;
    background-color: #fff;
    min-height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

h1 {
  color: white;
  font-size: clamp(20px, 4vw, 40px);

}

section {
  display: flex;
  justify-items: center;
}

.card {
  border: 3px solid blue;
  justify-self: center;
  width: 18rem;
  margin: auto;
  position: static;
}


.card-img-top {
  border-radius: 50% 50% 50% 50%;
  margin: -100px 10px 0 10px;  
  border: 2px solid blue;
}

.cardBottom {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 1rem;
  text-align: center;
}

.construction {
  width: 80%;
}

.construction img:hover {
  transform: scale(1.2);
}

form {
  width: 100%;
  min-width: 250px;
  border: 0;
}

.formCardsContainer{ 
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.cardContainer {
  width: 100%;
  margin: 1.8rem 1rem;
  padding: 0 15;
  flex: 1 1 24rem;
  max-width: 30rem;
  min-width: 0;
  font-size: .875rem;
  background: #FFF;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 6px;
}

.cardHeaderContainer:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.cardHeaderContainer {
  color: #FFF;
  margin: 0 15px;
  padding: 0;
  position: relative;
}

.cardIcon {
  float: left;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  border-radius: 3px;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
}

.cardHeaderContainer h4 {
  color: #3C4858;
  margin-top: 15px;
  min-height: auto;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1.4em;
}

.cardContent {
  flex: 1 1 auto;
  padding: 0.9375rem 20px;
  position: relative;
  letter-spacing: normal;
  box-sizing: border-box;
}

.cardFormContainer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cardFormContainer .inputRow {
  padding: 0 15px;
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0;
}

.cardFormContainer .inputRow .inputContainer {
  flex: 1 1 auto;
  padding: 0.9375rem 14px;
  max-width: 100%;
}


.cardFormContainer .inputRow .inputContainer label { 
  border: 0;
  padding: 0 0 0 .5rem; 
  font-size: 1rem; 
  margin: 0;
}

input.cardForm {
  padding: 14px;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 1px solid grey;
  height: 1.1875em;
  margin: 0 0 1rem 0;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  border-radius: 5px;
}

input.formBtn {
  margin-left: 1rem;
}
